.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.form{
  display: flex;
  flex-direction: column;
}

nav{
  display: flex;
  justify-content: center;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

nav li{
  margin-right: 2rem;
  list-style: none;
}

.cart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart ul{
  padding-left: 0;
  list-style-type: none;
}


.top-menu{
  display: flex;
    justify-content: center;
}

h1{
  text-align: center;
}

li{
  padding-bottom: 0.8rem;
}

.no-underline{
  text-decoration: none;
}

.inventory-product{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}

.inventory-product > * {
  padding: 0.8rem;
}

.ma{
  margin: 0 auto;
}

.center{
  text-align: center;
}